/* comfortaa-300 - greek_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/comfortaa-v27-greek_latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v27-greek_latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-regular - greek_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/comfortaa-v27-greek_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v27-greek_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-500 - greek_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/comfortaa-v27-greek_latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v27-greek_latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-600 - greek_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/comfortaa-v27-greek_latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v27-greek_latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-700 - greek_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/comfortaa-v27-greek_latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v27-greek_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
